<%= link_to 'Back to cocktail', cocktail_path(@cocktail), class: 'button', id: 'back' %>

<div class="dose-form">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.button :submit, class: 'button', id: 'modify' %>
  <% end %>
</div>
